body {
  font-family: "Architects Daughter", cursive;
  background: radial-gradient(circle, #46e072 0%, #46d2b0 57%, #0b98dd 100%);
  font-size: 25px;
}

.main-header {
  color: #037971;
  text-align: center;
}

.blogs {
  background-color: #baffdf;
  color: #7bc950;
  padding-bottom: 650px;
  margin: 35px 585px;
  text-align: center;
  border: 3px dotted #9dc0bc;
  border-radius: 50px;
}
